<div class="row">

    <!-- Caixa de Informações -->
    <div class="col-12 col-md-4 mb-3 mb-xxl-0 text-white" data-aos="fade-left">
        <div class="border-white-opacity border-2 p-4 d-flex flex-column flex-lg-row justify-content-start align-items-start h-100">
            <i class="ri-questionnaire-line ri-lg mb-3 mb-lg-0"></i>
            <div class="ms-lg-4">
                <p class="mb-1 lh-1 fw-bold">Serviço ao Cliente</p>
                <small class="text-muted"><a class="text-muted" href="#">Clique aqui</a> para conversar com nossa equipe de suporte</small>
            </div>
        </div>
    </div>
    <!-- / Caixa de Informações -->

    <!-- Caixa de Informações -->
    <div class="col-12 col-md-4 mb-3 mb-xxl-0 text-white" data-aos="fade-left" data-aos-delay="250">
        <div class="border-white-opacity border-2 p-4 d-flex flex-column flex-lg-row justify-content-start align-items-start h-100">
            <i class="ri-truck-line ri-lg mb-3 mb-lg-0"></i>
            <div class="ms-lg-4">
                <p class="mb-1 lh-1 fw-bold">Entrega Gratuita</p>
                <small class="text-muted">Entrega padrão gratuita em todos os pedidos acima de $100</small>
            </div>
        </div>
    </div>
    <!-- / Caixa de Informações -->
    
    <!-- Caixa de Informações -->
    <div class="col-12 col-md-4 mb-3 mb-xxl-0 text-white" data-aos="fade-left" data-aos-delay="500">
        <div class="border-white-opacity border-2 p-4 d-flex flex-column flex-lg-row justify-content-start align-items-start h-100">
            <i class="ri-repeat-line ri-lg mb-3 mb-lg-0"></i>
            <div class="ms-lg-4">
                <p class="mb-1 lh-1 fw-bold">Devoluções</p>
                <small class="text-muted">Devoluções em dinheiro em até 30 dias se você mudar de ideia</small>
            </div>
        </div>
    </div>
    <!-- / Caixa de Informações -->    

</div>
