<div class="swiper-container swiper-linked-carousel-small">

    <!-- Adicionar Paginação -->
    <div class="swiper-pagination-blocks mb-4">
        <div class="swiper-pagination-custom"></div>
    </div>

    <div class="swiper-wrapper">

        <!-- Slide do Swiper -->
        <div class="swiper-slide overflow-hidden">
            <!-- Cartão -->
            {{> 
                listing-cards/listing-card
                img="{{webRoot}}/assets/images/products/product-12.jpg"
                title="Camiseta Masculina para Atividades ao Ar Livre"
                options="Disponível em 4 cores, 7 tamanhos"
                currency="$"
                price="1699.87"
                review-width="80%"
                review-count="4.7 (1669)"
            }}
            <!-- / Cartão -->
        </div>
        <!-- / Slide do Swiper -->

        <!-- Slide do Swiper -->
        <div class="swiper-slide overflow-hidden">
            <!-- Cartão -->
            {{> 
                listing-cards/listing-card
                img="{{webRoot}}/assets/images/products/product-1.jpg"
                title="Tênis Flyroam Masculino"
                options="Disponível em 4 cores, 7 tamanhos"
                currency="$"
                price="1699.87"
                review-width="80%"
                review-count="4.7 (1669)"
            }}
            <!-- / Cartão -->
        </div>
        <!-- / Slide do Swiper -->

        <!-- Slide do Swiper -->
        <div class="swiper-slide overflow-hidden">
            <!-- Cartão -->
            {{> 
                listing-cards/listing-card
                img="{{webRoot}}/assets/images/products/product-13.jpg"
                title="Tênis Flyroam Masculino"
                options="Disponível em 4 cores, 7 tamanhos"
                currency="$"
                price="1699.87"
                review-width="80%"
                review-count="4.7 (1669)"
            }}
            <!-- / Cartão -->
        </div>
        <!-- / Slide do Swiper -->

    </div>
</div>
