<div class="row py-lg-5">

        <!-- Linha de menu -->
        <div class="col col-lg-6 mb-5 mb-sm-0">
            <h6 class="dropdown-heading">Camadas Impermeáveis</h6>
            <ul class="list-unstyled">
                <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Jaquetas
                        Impermeáveis</a></li>
                <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Jaquetas
                        Isoladas</a></li>
                <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Jaquetas de
                        Pluma</a></li>
                <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Jaquetas
                        Softshell</a></li>
                <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Jaquetas
                        Casuais</a></li>
                <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Jaquetas
                        Corta-vento</a></li>
                <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Jaquetas
                        Respiráveis</a></li>
                <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Limpeza e
                        Impermeabilização</a></li>
                <li class="dropdown-list-item"><a class="dropdown-item dropdown-link-all"
                        href="{{webRoot}}/category.html">Ver Todos</a></li>
            </ul>
    
        </div>
        <!-- /Linha de menu -->
    
        <!-- Linha de menu -->
        <div class="col col-lg-6">
            <h6 class="dropdown-heading">Marcas</h6>
            <ul class="list-unstyled">
                <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Estilo de Vida
                        & Casual</a></li>
                <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Sapatos para
                        Caminhada</a></li>
                <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Sapatos para
                        Corrida</a></li>
                <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Botas
                        Militares</a></li>
                <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Botas para
                        Caminhada em Tecido</a></li>
                <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Botas para
                        Caminhada em Couro</a></li>
                <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Galochas</a>
                </li>
                <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Calçados de
                        Inverno</a></li>
                <li class="dropdown-list-item"><a class="dropdown-item dropdown-link-all"
                        href="{{webRoot}}/category.html">Ver Todos</a></li>
            </ul>
        </div>
        <!-- /Linha de menu -->
    
    </div>
    