<ul class="navbar-nav py-lg-2 mx-auto">
    <li class="nav-item me-lg-4 dropdown position-static">
        <a class="nav-link fw-bolder dropdown-toggle py-lg-4" href="#" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Vestuário Masculino
        </a>
        <!-- Menu suspenso de vestuário masculino -->
        <div class="dropdown-menu dropdown-megamenu">
            <div class="container">
                <div class="row g-0">
                    <!-- Seção de Links do Menu Suspenso -->
                    <div class="col-12 col-lg-7">
                        {{> menus/dropdown-links }}
                    </div>
                    <!-- /Seção de Links do Menu Suspenso -->

                    <!-- Seção de Imagens do Menu Suspenso -->
                    <div class="d-none d-lg-block col-lg-5">
                        <div class="vw-50 h-100 bg-img-cover bg-pos-center-center position-absolute" style="background-image: url({{webRoot}}/assets/images/banners/banner-2.jpg);"></div>
                    </div>
                    <!-- Seção de Imagens do Menu Suspenso -->
                </div>
            </div>
        </div>
        <!-- / Menu suspenso de vestuário masculino -->
    </li>
    <li class="nav-item me-lg-4 dropdown position-static">
        <a class="nav-link fw-bolder dropdown-toggle py-lg-4" href="#" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Vestuário Feminino
        </a>
        <!-- Menu suspenso de vestuário feminino -->
        <div class="dropdown-menu dropdown-megamenu">
            <div class="container">
                <div class="row g-0">
                    <!-- Seção de Links do Menu Suspenso -->
                    <div class="col-12 col-lg-7">
                        {{> menus/dropdown-links }}
                    </div>
                    <!-- /Seção de Links do Menu Suspenso -->

                    <!-- Seção de Imagens do Menu Suspenso -->
                    <div class="d-none d-lg-block col-lg-5">
                        <div class="vw-50 h-100 bg-img-cover bg-pos-center-center position-absolute" style="background-image: url({{webRoot}}/assets/images/banners/banner-4.jpg);"></div>
                    </div>
                    <!-- Seção de Imagens do Menu Suspenso -->
                </div>
            </div>
        </div>
        <!-- / Menu suspenso de vestuário feminino -->
    </li>
    <li class="nav-item me-lg-4">
        <a class="nav-link fw-bolder py-lg-4" href="#">
            Vestuário Infantil
        </a>
    </li>
    <li class="nav-item me-lg-4">
        <a class="nav-link fw-bolder py-lg-4" href="#">
            Itens em Promoção
        </a>
    </li>
    <li class="nav-item dropdown me-lg-4">
        <a class="nav-link fw-bolder dropdown-toggle py-lg-4" href="#" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Páginas de Demonstração
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{webRoot}}/index.html">Página Inicial</a></li>
            <li><a class="dropdown-item" href="{{webRoot}}/category.html">Categoria</a></li>
            <li><a class="dropdown-item" href="{{webRoot}}/product.html">Produto</a></li>
            <li><a class="dropdown-item" href="{{webRoot}}/cart.html">Carrinho</a></li>
            <li><a class="dropdown-item" href="{{webRoot}}/checkout.html">Finalização de Compra</a></li>
          </ul>
    </li>
</ul>
