<section class="search-overlay">
    <div class="container search-container">
        <div class="py-5">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="lead lh-1 m-0 fw-bold">O que você está procurando?</p>
                <button class="btn btn-light btn-close-search"><i class="ri-close-circle-line align-bottom"></i> Fechar busca</button>
            </div>
            <form>
                <input type="text" class="form-control" id="searchForm" placeholder="Buscar por nome de produto ou categoria...">             
            </form>
            <div class="my-5">
                <p class="lead fw-bolder">2 resultados encontrados para <span class="fw-bold">"Jaqueta Impermeável"</span></p>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3 mb-3 mb-lg-0">
                        {{> 
                            listing-cards/listing-card
                            img="{{webRoot}}/assets/images/products/product-1.jpg" 
                            title="Jaqueta Impermeável Masculina Pennie II"
                            currency="R$"
                            price="325.66"
                            review-width="80%"
                            review-count="4.2 (123)"
                        }}
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        {{> 
                            listing-cards/listing-card
                            img="{{webRoot}}/assets/images/products/product-2.jpg" 
                            title="Jaqueta Impermeável Masculina Storm"
                            currency="R$"
                            price="499.99"
                            review-width="70%"
                            review-count="4.5 (1289)"
                        }}
                    </div>
                </div>
            </div>

            <div class="bg-dark p-4 text-white">
                <p class="lead m-0">Não encontrou o que está procurando? <a class="transition-all opacity-50-hover text-white text-link-border border-white pb-1 border-2" href="#">Envie-nos uma mensagem.</a></p>
            </div>
        </div>
    </div>
</section>
