<!-- Endereço de Cobrança do Checkout-->
<div class="billing-address checkout-panel d-none">
  <h5 class="title-checkout">Endereço de Cobrança</h5>
  <div class="row">
      <!-- Primeiro Nome-->
      <div class="col-sm-6">
          <div class="form-group">
              <label for="firstNameAddress" class="form-label">Nome</label>
              <input type="text" class="form-control" id="firstNameAddress" placeholder="" value="" required="">
          </div>
      </div>

      <!-- Último Nome-->
      <div class="col-sm-6">
          <div class="form-group">
              <label for="lastNameAddress" class="form-label">Sobrenome</label>
              <input type="text" class="form-control" id="lastNameAddress" placeholder="" value="" required="">
          </div>
      </div>

      <!-- Endereço-->
      <div class="col-12">
          <div class="form-group">
              <label for="addressAddress" class="form-label">Endereço</label>
              <input type="text" class="form-control" id="addressAddress" placeholder="123 Alguma Rua em Algum Lugar" required="">
          </div>
      </div>

      <!-- País-->
      <div class="col-md-12">
          <div class="form-group">
              <label for="countryAddress" class="form-label">País</label>
              <select class="form-select" id="countryAddress" required="">
                  <option value="">Por favor, selecione...</option>
                  <option>Estados Unidos</option>
              </select>
          </div>
      </div>

      <!-- Estado-->
      <div class="col-md-6">
          <div class="form-group">
              <label for="stateAddress" class="form-label">Estado</label>
              <select class="form-select" id="stateAddress" required="">
                  <option value="">Por favor, selecione...</option>
                  <option>California</option>
              </select>
          </div>
      </div>

      <!-- Código Postal-->
      <div class="col-md-6">
          <div class="form-group">
              <label for="zipAddress" class="form-label">Código Postal</label>
              <input type="text" class="form-control" id="zipAddress" placeholder="" required="">
          </div>
      </div>
  </div>
</div>
<!-- / Endereço de Cobrança do Checkout-->
