<!-- Método de Pagamento do Checkout -->
<div class="checkout-panel">
  <h5 class="title-checkout">Informações de Pagamento</h5>

  <div class="row">
    <!-- Opção de Pagamento -->
    <div class="col-12">
      <div class="form-check form-group form-check-custom form-radio-custom mb-3">
        <input class="form-check-input" type="radio" name="checkoutPaymentMethod" id="checkoutPaymentStripe" checked>
        <label class="form-check-label" for="checkoutPaymentStripe">
          <span class="d-flex justify-content-between align-items-start">
            <span>
              <span class="mb-0 fw-bolder d-block">Cartão de Crédito (Stripe)</span>
            </span>
            <i class="ri-bank-card-line"></i>
          </span>
        </label>
      </div>
    </div>
  
    <!-- Opção de Pagamento -->
    <div class="col-12">
      <div class="form-check form-group form-check-custom form-radio-custom mb-3">
        <input class="form-check-input" type="radio" name="checkoutPaymentMethod" id="checkoutPaymentPaypal">
        <label class="form-check-label" for="checkoutPaymentPaypal">
          <span class="d-flex justify-content-between align-items-start">
            <span>
              <span class="mb-0 fw-bolder d-block">PayPal</span>
            </span>
            <i class="ri-paypal-line"></i>
          </span>
        </label>
      </div>
    </div>
  
  </div>
  
  <!-- Detalhes do Pagamento -->
  <div class="card-details">
    <div class="row pt-3">
      <div class="col-md-12">
        <div class="form-group">
          <label for="cc-name" class="form-label">Nome no cartão</label>
          <input type="text" class="form-control" id="cc-name" placeholder="" required="">
          <small class="text-muted">Nome completo como exibido no cartão</small>
        </div>
      </div>
  
      <div class="col-md-12">
        <div class="form-group">
          <label for="cc-number" class="form-label">Número do cartão de crédito</label>
          <input type="text" class="form-control" id="cc-number" placeholder="" required="">
        </div>
      </div>
  
      <div class="col-md-6">
        <div class="form-group">
          <label for="cc-expiration" class="form-label">Validade</label>
          <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
        </div>
      </div>
  
      <div class="col-md-6">
        <div class="form-group">
          <div class="d-flex">
            <label for="cc-cvv" class="form-label d-flex w-100 justify-content-between align-items-center">Código de Segurança</label>
            <button type="button" class="btn btn-link p-0 fw-bolder fs-xs text-nowrap" data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Um CVV é um número no seu cartão de crédito ou débito que está além do número do seu cartão de crédito e da data de validade">
              O que é isso?
            </button>
          </div>
          <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
        </div>
      </div>
    </div>
  </div>
  <!-- / Detalhes do Pagamento -->
  
  <!-- Informações do Paypal -->
  <div class="paypal-details bg-light p-4 d-none mt-3 fw-bolder">
    Por favor, clique em concluir pedido. Você será então transferido para o Paypal para inserir seus detalhes de pagamento.
  </div>
  <!-- /Informações do Paypal -->
</div>
<!-- /Método de Pagamento do Checkout -->
