<!-- Painel de Contato do Checkout -->
<div class="checkout-panel">
  <h5 class="title-checkout">Informações de Contato</h5>
  <div class="row">

      <!-- Email-->
      <div class="col-12">
          <div class="form-group">
              <label for="email" class="form-label">E-mail</label>
              <input type="email" class="form-control" id="email" placeholder="seuemail@example.com">
          </div>

          <!-- Inscrição na Lista de Email-->
          <div class="form-group form-check m-0">
              <input type="checkbox" class="form-check-input" id="add-mailinglist" checked>
              <label class="form-check-label" for="add-mailinglist">Mantenha-me atualizado com suas últimas notícias e ofertas</label>
          </div>
      </div>
  </div>
</div>
<!-- /Painel de Contato do Checkout -->
