<!-- Método de Envio do Checkout -->
<div class="checkout-panel">
  <h5 class="title-checkout">Método de Envio</h5>

  <!-- Opção de Envio -->
  <div class="form-check form-group form-check-custom form-radio-custom mb-3">
    <input class="form-check-input" type="radio" name="checkoutShippingMethod" id="checkoutShippingMethodOne" checked>
    <label class="form-check-label" for="checkoutShippingMethodOne">
      <span class="d-flex justify-content-between align-items-start w-100">
        <span>
          <span class="mb-0 fw-bolder d-block">Retirada na Loja</span>
          <small class="fw-bolder">Retire em nossa loja em Londres</small>
        </span>
        <span class="small fw-bolder text-uppercase">Grátis</span>
      </span>
    </label>
  </div>

  <!-- Opção de Envio -->
  <div class="form-check form-group form-check-custom form-radio-custom mb-3">
    <input class="form-check-input" type="radio" name="checkoutShippingMethod" id="checkoutShippingMethodTwo">
    <label class="form-check-label" for="checkoutShippingMethodTwo">
      <span class="d-flex justify-content-between align-items-start">
        <span>
          <span class="mb-0 fw-bolder d-block">UPS Próximo Dia</span>
          <small class="fw-bolder">Para todos os pedidos feitos antes das 13h de segunda a quinta-feira</small>
        </span>
        <span class="small fw-bolder text-uppercase">$19.99</span>
      </span>
    </label>
  </div>

  <!-- Opção de Envio -->
  <div class="form-check form-group form-check-custom form-radio-custom mb-3">
    <input class="form-check-input" type="radio" name="checkoutShippingMethod" id="checkoutShippingMethodThree">
    <label class="form-check-label" for="checkoutShippingMethodThree">
      <span class="d-flex justify-content-between align-items-start">
        <span>
          <span class="mb-0 fw-bolder d-block">Serviço Prioritário DHL</span>
          <small class="fw-bolder">Entrega em 24 - 36 horas</small>
        </span>
        <span class="small fw-bolder text-uppercase">$9.99</span>
      </span>
    </label>
  </div>
</div>
<!-- /Método de Envio do Checkout -->
