<!-- Endereço de Envio do Checkout -->
<div class="checkout-panel">
  <h5 class="title-checkout">Endereço de Envio</h5>
  <div class="row">
    <!-- Primeiro Nome -->
    <div class="col-sm-6">
      <div class="form-group">
        <label for="firstName" class="form-label">Nome</label>
        <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
      </div>
    </div>

    <!-- Sobrenome -->
    <div class="col-sm-6">
      <div class="form-group">
        <label for="lastName" class="form-label">Sobrenome</label>
        <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
      </div>
    </div>

    <!-- Endereço -->
    <div class="col-12">
      <div class="form-group">
        <label for="address" class="form-label">Endereço</label>
        <input type="text" class="form-control" id="address" placeholder="123 Alguma Rua em Algum Lugar" required="">
      </div>
    </div>

    <!-- País -->
    <div class="col-md-12">
      <div class="form-group">
        <label for="country" class="form-label">País</label>
        <select class="form-select" id="country" required="">
          <option value="">Por favor, selecione...</option>
          <option>Estados Unidos</option>
        </select>
      </div>
    </div>

    <!-- Estado -->
    <div class="col-md-6">
      <div class="form-group">
        <label for="state" class="form-label">Estado</label>
        <select class="form-select" id="state" required="">
          <option value="">Por favor, selecione...</option>
          <option>California</option>
        </select>
      </div>
    </div>

    <!-- Código Postal -->
    <div class="col-md-6">
      <div class="form-group">
        <label for="zip" class="form-label">Código Postal</label>
        <input type="text" class="form-control" id="zip" placeholder="" required="">
      </div>
    </div>
  </div>

  <div class="pt-4 mt-4 border-top d-flex justify-content-between align-items-center">
    <!-- Checkbox Mesmo Endereço de Envio -->
    <div class="form-group form-check m-0">
      <input type="checkbox" class="form-check-input" id="same-address" checked>
      <label class="form-check-label" for="same-address">Utilizar para o endereço de cobrança</label>
    </div>
  </div>
</div>
<!-- /Endereço de Envio do Checkout -->
