<!-- Avaliações dos Clientes -->
<section class="reviews">
    <div class="col-lg-12 text-center pb-5">

        <h2 class="fs-1 fw-bold d-flex align-items-center justify-content-center">4.88 <small class="text-muted fw-bolder ms-3 fw-bolder fs-6">(1288 avaliações)</small></h2>
        <div class="d-flex justify-content-center">
            {{> reviews/review-stars-medium }}
        </div>


        <div class="bg-light rounded py-3 px-4 mt-3 col-12 col-md-6 col-lg-5 mx-auto">
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 bg-transparent">
                    <span class="fw-bolder">Ajuste</span>
                    {{> reviews/review-stars-small width="25%" }}
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 bg-transparent">
                    <span class="fw-bolder">Valor pelo dinheiro</span>
                    {{> reviews/review-stars-small width="75%" }}
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 bg-transparent">
                    <span class="fw-bolder">Qualidade de construção</span>
                    {{> reviews/review-stars-small width="65%" }}
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 bg-transparent">
                    <span class="fw-bolder">Estilo</span>
                    {{> reviews/review-stars-small width="90%" }}
                </li>
            </ul>
        </div>

        <!-- Modal de Avaliação -->
        <button type="button" class="btn btn-dark mt-4 hover-lift-sm hover-boxshadow disable-child-pointer" data-bs-toggle="offcanvas" data-bs-target="#offcanvasReview" aria-controls="offcanvasReview">
            Escreva uma avaliação <i class="ri-discuss-line align-bottom ms-1"></i>
        </button>
        <!-- / Botão do Modal de Avaliação -->

    </div>

    <!-- Avaliação Individual -->
    <article class="py-5 border-bottom border-top">
        <div class="row">
            <div class="col-12 col-md-4">
                <small class="text-muted fw-bolder">08/12/2021</small>
                <p class="fw-bolder">Ben Sandhu, Irlanda</p>
                <span class="bg-success-faded fs-xs fw-bolder text-uppercase p-2">Cliente Verificado</span>
            </div>
            <div class="col-12 col-md-8 mt-4 mt-md-0">
                {{> reviews/review-stars-small width="80%" }}
                <p class="fw-bolder mt-4">Satisfeito com isso considerando o preço</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit sequi, architecto placeat nam officia
                    sapiente ipsam at dolorum quisquam, ipsa earum qui laboriosam. Pariatur recusandae nihil, architecto
                    reprehenderit perferendis obcaecati. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Distinctio sint nesciunt velit quae, quisquam ullam veritatis itaque repudiandae. Inventore quae
                    doloribus modi nihil illum accusamus voluptas suscipit neque perferendis totam!</p>

                <small class="fw-bolder bg-light d-table rounded py-1 px-2">Sim, eu recomendaria o produto</small>
                <div class="d-block d-md-flex mt-3 justify-content-between align-items-center">
                    <a href="#" class="btn btn-link text-muted p-0 text-decoration-none w-100 w-md-auto fw-bolder text-start" title=""><small>Esta avaliação foi útil?
                            <i class="ri-thumb-up-line ms-4"></i> 112 <i class="ri-thumb-down-line ms-2"></i>
                            23</small></a>
                    <a href="#" class="btn btn-link text-muted p-0 text-decoration-none w-100 w-md-auto fw-bolder text-start mt-3 mt-md-0" title=""><small>Sinalizar como
                            inapropriado <i class="ri-flag-2-line ms-2"></i></small></a>
                </div>
            </div>
        </div>
    </article>
    <!-- / Avaliação Individual -->

    <!-- Avaliação Individual -->
    <article class="py-5 border-bottom ">
        <div class="row">
            <div class="col-12 col-md-4">
                <small class="text-muted fw-bolder">08/12/2021</small>
                <p class="fw-bolder">Patricia Smith, Londres</p>
                <span class="bg-success-faded fs-xs fw-bolder text-uppercase p-2">Cliente Verificado</span>
            </div>
            <div class="col-12 col-md-8 mt-4 mt-md-0">
                {{> reviews/review-stars-small width="80%" }}
                <p class="fw-bolder mt-4">Muito feliz com minha compra até agora...</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit sequi, architecto placeat nam officia
                    sapiente ipsam at dolorum quisquam, ipsa earum qui laboriosam. Pariatur recusandae nihil, architecto
                    reprehenderit perferendis obcaecati. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Distinctio sint nesciunt velit quae, quisquam ullam veritatis itaque repudiandae. Inventore quae
                    doloribus modi nihil illum accusamus voluptas suscipit neque perferendis totam!</p>

                <small class="fw-bolder bg-light d-table rounded py-1 px-2">Sim, eu recomendaria o produto</small>
                <div class="d-block d-md-flex mt-3 justify-content-between align-items-center">
                    <a href="#" class="btn btn-link text-muted p-0 text-decoration-none w-100 w-md-auto fw-bolder text-start" title=""><small>Esta avaliação foi útil?
                            <i class="ri-thumb-up-line ms-4"></i> 112 <i class="ri-thumb-down-line ms-2"></i>
                            23</small></a>
                    <a href="#" class="btn btn-link text-muted p-0 text-decoration-none w-100 w-md-auto fw-bolder text-start mt-3 mt-md-0" title=""><small>Sinalizar como
                            inapropriado <i class="ri-flag-2-line ms-2"></i></small></a>
                </div>
            </div>
        </div>
    </article>
    <!-- / Avaliação Individual -->

    <!-- Avaliação Individual -->
    <article class="py-5 border-bottom ">
        <div class="row">
            <div class="col-12 col-md-4">
                <small class="text-muted fw-bolder">08/12/2021</small>
                <p class="fw-bolder">Jack Jones, Escócia</p>
                <span class="bg-success-faded fs-xs fw-bolder text-uppercase p-2">Cliente Verificado</span>
            </div>
            <div class="col-12 col-md-8 mt-4 mt-md-0">
                {{> reviews/review-stars-small width="80%" }}
                <p class="fw-bolder mt-4">Eu gostaria que fosse um pouco mais barato - caso contrário, adoro isso!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit sequi, architecto placeat nam officia
                    sapiente ipsam at dolorum quisquam, ipsa earum qui laboriosam. Pariatur recusandae nihil, architecto
                    reprehenderit perferendis obcaecati. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Distinctio sint nesciunt velit quae, quisquam ullam veritatis itaque repudiandae. Inventore quae
                    doloribus modi nihil illum accusamus voluptas suscipit neque perferendis totam!</p>

                <small class="fw-bolder bg-light d-table rounded py-1 px-2">Sim, eu recomendaria o produto</small>
                <div class="d-block d-md-flex mt-3 justify-content-between align-items-center">
                    <a href="#" class="btn btn-link text-muted p-0 text-decoration-none w-100 w-md-auto fw-bolder text-start" title=""><small>Esta avaliação foi útil?
                            <i class="ri-thumb-up-line ms-4"></i> 112 <i class="ri-thumb-down-line ms-2"></i>
                            23</small></a>
                    <a href="#" class="btn btn-link text-muted p-0 text-decoration-none w-100 w-md-auto fw-bolder text-start mt-3 mt-md-0" title=""><small>Sinalizar como
                            inapropriado <i class="ri-flag-2-line ms-2"></i></small></a>
                </div>
            </div>
        </div>
    </article>
    <!-- / Avaliação Individual -->


    <a href="#" class="btn btn-dark d-table mx-auto mt-6 mb-3 hover-lift-sm hover-boxshadow" title="">Carregar Mais Avaliações</a>
    <p class="text-muted text-center fw-bolder">Mostrando 3 de 1234</p>

</section>
